<!-- <body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body> -->

<app-header (sidebarToggle)="toggleSidebar()"></app-header>
<mat-drawer-container class="app-container">
  <mat-drawer mode="side" [opened]="isSidebarOpen">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <div style="height : 89vh">
      <router-outlet></router-outlet>

    </div>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>

