
.txtBox {
  max-width: 200px;
}
input {
  height: 25px;
}
p {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 150px;
  text-align: end;

}


.example-container {
  height: 300px;
  width: 550px;
  max-width: 100%;
  overflow: auto;
}

.table-mini1 {
  width: 800px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
.mat-header-cell {
  font-weight: bold;
  background-color: aqua;
}


