<table class="table table-bordered border-primary mt-4">
  <thead>
    <tr class="bg-info">
      <td>EntFirstName</td>
      <td>ClmHdrRecLocator</td>
      <td>ClaimNumber</td>
      <td>ControlNumber</td>
      <td>EntityType</td>
      <td>EntSortOrder</td>
      <!-- <td>Member Name</td>
      <td>Provider Id</td>
      <td>Provider Name</td>
      <td>Vendor Name</td>
      <td>Date Received</td>
      <td class="text-danger">Total Charges</td>
      <td class="text-danger">Paid Amount</td> -->
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="searchedClaim.length > 0">
      <tr *ngFor="let claim of searchedClaim" class="table-active">
        <td>
          <a [routerLink]="'/claim-detail/' + claim.decClaimNumber" (click)="showMoreClaimDetail()">{{ claim.chEntFirstName }}</a>
        </td>
        <td>{{ claim.chClmHdrRecLocator }}</td>
        <td>{{ claim.decClaimNumber }}</td>
        <td>{{ claim.chControlNumber }}</td>
        <td>{{ claim.chEntityType }}</td>
        <td>{{ claim.intEntSortOrder }}</td>

        <!-- <td>{{ claim.ProviderId }}</td>
        <td>{{ claim.ProviderName }}</td>
        <td>{{ claim.VendorName }}</td>
        <td>{{ claim.DateReceived }}</td>
        <td>{{ claim.TotalCharges }}</td>
        <td>{{ claim.AmountPaid }}</td> -->
      </tr>
    </ng-container>
    <ng-container *ngIf="searchedClaim.length === 0">
      <tr>
        <td colspan="6" style="text-align: center">
          No claims found in database
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<div class="container" *ngIf="showMoreClaimDetails">
  <!-- row-1 -->
  <div class="row">
    <!-- col-1 -->
    <div class="col-3">
      <div class="d-flex">
        <p>Claim Number:</p>
        <input type="text" class="form-control txtBox" />
      </div>

      <div class="d-flex">
        <p>LOB:</p>
        <input type="text" class="form-control txtBox" />
      </div>
      <div class="d-flex">
        <p>Illness Date:</p>
        <input
          type="date"
          [value]="currentDay | date : 'yyyy-MM-dd'"
          disabled
          class="form-control txtBox"
        />
      </div>
      <div class="d-flex">
        <p>Disabled From:</p>
        <input type="text" class="form-control txtBox" />
      </div>
    </div>
    <!-- col-2 -->

    <div class="col-3">
      <div class="d-flex">
        <p><b>Member : First Name, Last Name</b></p>
        <!-- <input type="text" class="form-control txtBox"/> -->
      </div>
      <div class="d-flex">
        <p>From DOS:</p>
        <input type="text" class="form-control txtBox" />
      </div>

      <div class="d-flex">
        <p>First Illness Date:</p>
        <input
          type="date"
          [value]="currentDay | date : 'yyyy-MM-dd'"
          disabled
          class="form-control txtBox"
        />
      </div>
      <div class="d-flex">
        <p>Disabled To:</p>
        <input type="text" class="form-control txtBox" />
      </div>
      <div class="d-flex">
        <p>Origin Ref #:</p>
        <input type="text" class="form-control txtBox" />
      </div>
    </div>
    <!-- col-3 -->

    <div class="col-3">
      <div class="d-flex">
        <p>DOB:</p>
        <b>{{ currentDay | date : "yyyy-MM-dd" }}</b>
      </div>
      <div class="d-flex">
        <p>Through DOS:</p>
        <input
          type="date"
          [value]="currentDay | date : 'yyyy-MM-dd'"
          disabled
          class="form-control txtBox"
        />
      </div>
      <div class="d-flex">
        <p>LMP Data:</p>
        <input type="text" class="form-control txtBox" />
      </div>

      <div class="d-flex">
        <p>Admit Date:</p>
        <input
          type="date"
          [value]="currentDay | date : 'yyyy-MM-dd'"
          disabled
          class="form-control txtBox"
        />
      </div>

      <div class="d-flex">
        <p>Total Charges:</p>
        <input
          type="text"
          disabled
          [value]="1000"
          class="form-control txtBox"
        />
      </div>
    </div>
    <!-- col-4 -->

    <div class="col-3">
      <div class="d-flex">
        <p>Determination:</p>
        <input type="text" class="form-control txtBox" />
      </div>

      <div class="d-flex">
        <p>Injury Date:</p>
        <input
          type="date"
          [value]="currentDay | date : 'yyyy-MM-dd'"
          disabled
          class="form-control txtBox"
        />
      </div>

      <div class="d-flex">
        <p>Discharge Date:</p>
        <input
          type="date"
          [value]="currentDay | date : 'yyyy-MM-dd'"
          disabled
          class="form-control txtBox"
        />
      </div>
      <div class="d-flex">
        <p>Other Ins Pd:</p>
        <input type="text" class="form-control txtBox" />
      </div>
      <div class="d-flex">
        <p>OI Claim Type:</p>
        <input type="text" class="form-control txtBox" />
      </div>
    </div>
  </div>
   <!-- row-2 -->
  <div class="row">
  <!-- col-1 -->
  <div class="col-3">
    <div class="d-flex">
      <p>Serv Prov:</p>
      <input type="text" class="form-control txtBox" />
    </div>

    <div class="d-flex">
      <p>Serv Loc:</p>
      <input type="text" class="form-control txtBox" />
    </div>
    <div class="d-flex">
      <p>Serv Taxnmy:</p>
      <input
        type="date"
        [value]="currentDay | date : 'yyyy-MM-dd'"
        disabled
        class="form-control txtBox"
      />
    </div>
    <div class="d-flex">
      <p>Facility NPI:</p>
      <input type="text" class="form-control txtBox" />
    </div>

    <div class="d-flex">
      <p>Refer Prov:</p>
      <input type="text" class="form-control txtBox" />
    </div>

    <div class="d-flex">
      <p>Vendor ID:</p>
      <input type="text" class="form-control txtBox" />
    </div>
    <div class="d-flex">
      <p>Vendor Loc:</p>
      <input
        type="date"
        [value]="currentDay | date : 'yyyy-MM-dd'"
        disabled
        class="form-control txtBox"
      />
    </div>
    <div class="d-flex">
      <p>Bill Taxnmy:</p>
      <input type="text" class="form-control txtBox" />
    </div>

  </div>
  <!-- col-2 -->
  <div class="col-3">
    <div class="d-flex">
      <p><b>RAPCIAK,Yoscany</b></p>

    </div>

    <div class="d-flex">
      <p style="height: 20px;"> </p>
    </div>
    <div class="d-flex">
      <p style="height: 20px;"> </p>
    </div>
    <div class="d-flex">
      <p style="height: 20px;"> </p>

    </div>

    <div class="d-flex">
      <p><b>VASQUEZ-DOMINGO</b></p>
    </div>

    <div class="d-flex">
      <p><b style="text-align: left;">CENTRAL ILLINOIS PATHOLOGY <br> PO Box 9190</b></p>
    </div>
    <div class="d-flex">
      <p><b>PERORIA, Il 61612-9190</b></p>
    </div>
    <div class="d-flex">
      <p style="height: 20px;"> </p>

    </div>

  </div>

  <!-- col-3 to 4 -->
    <div class="col-6 d-flex justify-content-end">
      <section class="example-container mat-elevation-z8" tabindex="0">
        <table class="table-mini1" mat-table [dataSource]="dataSource">

          <!-- Name Column -->
          <ng-container matColumnDef="name" sticky>
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <!-- Star Column -->
          <ng-container matColumnDef="star" stickyEnd>
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon>more_vert</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>

    </div>
  </div>
</div>
