<mat-nav-list class="sidebar">

  <mat-expansion-panel [class.mat-elevation-z0]="true">
      <mat-expansion-panel-header>
          CLAIMS
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/claims" [ngStyle]="{'color': color === 'claims' ? 'red' : ''}" (click)="selectedItem('claims')">CLAIM HEADER</a>
        <a mat-list-item routerLink="/claims-list" [ngStyle]="{'color': color === 'claims-list' ? 'red' : ''}" (click)="selectedItem('claims-list')">CLAIM DETAIL</a>
      </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel [class.mat-elevation-z0]="true">
      <mat-expansion-panel-header>
          MEMBERS
      </mat-expansion-panel-header>

      <mat-nav-list>
        <a mat-list-item routerLink="member-list" [ngStyle]="{'color': color === 'memberDetails' ? 'red' : ''}" (click)="selectedItem('memberDetails')">MEMBER DETAILS</a>
        <a mat-list-item routerLink="member-survey" [ngStyle]="{'color': color === 'memberSurvey' ? 'red' : ''}" (click)="selectedItem('memberSurvey')">MEMBER SURVEY</a>
      </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel [class.mat-elevation-z0]="true">
      <mat-expansion-panel-header>
          PROVIDERS
      </mat-expansion-panel-header>
      <mat-nav-list>
          <a mat-list-item routerLink="#">PROVIDER DETAILS</a>
          <a mat-list-item routerLink="#">PROVIDER SERVICES</a>

      </mat-nav-list>
  </mat-expansion-panel>
</mat-nav-list>
